.DS_Store
erlang/ebin
tla/F18A.old
tla/F18A.toolbox
assembler/antlr/antlr-4.4-complete.jar
assembler/antlr/java/bin
assembler/antlr/java/gen
assembler/antlr/java/runtime
assembler/antlr/java/ANTLR.bin
